{% extends 'blog/main.html' %}
{% block main_section %}
  <h3>Страница с контактами</h3>
{% endblock main_section %}

{% block aside_news_section %}
  <h3><b>Фильмы на it-тематику</b></h3>
  <img src="https://pp.userapi.com/c639122/v639122999/4ff7f/bDN1Xvv_L08.jpg" class="img-thumbnail mb-1">
  <p>Якобы другая ссылка, картинки и всё другое.</p>
  <a href = "https://tproger.ru/digest/films/" target = "_blank">
    <button class="btn btn-warning"> Посмотреть </button>
  </a>
{% endblock aside_news_section %}
